<div class="form-horizontal" style="max-width: 550px">
  <div class="form-group">
    <label class="col-sm-2 control-label">City:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="zomatoComponent-city"
             placeholder="Please type a location..." autocomplete="off">
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Search:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="zomatoComponent-search"
             placeholder="Search for restaurants on Zomato" autocomplete="off">
    </div>
  </div>

  <div id="res_results" style="height: 500px;"></div>

  <div class="res_search_footer">
    <img src="https://www.zomato.com/images/logo/icon_32x32.png" alt="Zomato" width="16px" height="auto">
    <a class="powered_by" target="_blank" href="https://www.zomato.com/?utm_source=referral-widget&amp;utm_medium=restaurant_search_widget&amp;utm_campaign=widget-developers">Powered by Zomato</a>
  </div>
  <div id="loading" style="display: none;">
    <img src="https://www.zomato.com/images/loading-transparent-red.gif">
  </div>
</div>

<%= form_tag meal_order_add_dish_path(@meal, @order) do %>
    <%= label_tag "Add dish (name)" %>
    <%= text_field_tag :dish_name, params[:dish_name],
                       class: 'form-control',
                       id: 'dishname-auto',
                       autocomplete: 'off' %>
    <%= submit_tag 'Add', class: 'btn btn-primary' %>

    <script type="text/javascript">
      $(function () {
        $('#dishname-auto').typeahead({
          minLength: 0, showHintOnFocus: true,
          source: function(query, process) {
            $.get("<%= dishes_path %>",
                {search: query},
                function(data) {process(data["dishes"])},
                "json")
          }
        });
      });
    </script>
<% end %>

<script>

  var request_params = JSON.parse('{"sort":"pd","language_id":1}');

  $(document).ready(function() {
    $('#dishname-auto').typeahead({
      minLength: 0, showHintOnFocus: true,
      source: function(query, process) {
        $.get("<%= dishes_path %>",
            {search: query},
            function(data) {process(data["dishes"])},
            "json")
      }
    });

    // Code from Zomato widget - https://www.zomato.com/widgets/res_search_widget.php
    var utm_params = 'utm_source=referral-widget&utm_medium=' +
        'restaurant_search_widget&utm_campaign=widget-developers';

    var resize = function() {
      $('#res_results').height('initial');
      var results_height = window.innerHeight - $('.res_search_header').outerHeight() - $('.res_search_footer').outerHeight() - 12;
      var scroll_height = $('#res_results')[0].scrollHeight;
      if (results_height <= scroll_height) {
        $('#res_results').innerHeight(results_height);
      } else {
        $('#res_results').innerHeight(scroll_height);
      }
      $('.res_info').width($('.res_info').parent().width()-$('.res_img').width()-2);
    }
    $(window).on('resize', resize);
    var HOST = 'https://www.zomato.com/';
    var res_xhr, city_suggestion_xhr, entity_type, entity_id = 0;

    $(document).ajaxStart(function() {
      $("#loading").show();
    });

    $(document).ajaxStop(function() {
      $("#loading").hide();
    });

    $('a:not(.powered_by)').removeClass('theme-red-foreground, theme-dark-foreground').addClass('theme-red-foreground');
    $('button').removeClass('theme-red-background, theme-dark-background').addClass('theme-red-background');

    var resSearch = function() {
      var search_input = $("#search_input");
      var q = search_input.length ? search_input.val() : '';
      if(q.length <= 2 && q.length != 0) {
        return;
      }
      if (res_xhr && res_xhr.readystate != 4) {
        res_xhr.abort();
      }
      var searchData = request_params;
      searchData.q = q;
      if(searchData.city_id == 0){
        $('.no_search_txt>span').html('Restaurants Nearby');
        $('#res_results').html("<div class='clearfix res'>No results found</div>");
      } else {
        res_xhr = $.ajax({
          url: HOST + 'php/widgets_handler.php?method=searchRestaurant',
          datatype: 'json',
          data: searchData,
          success: function(res) {
            var res_list_div = $('#res_results'), i;
            if (res.results_found == 0) {
              res_list_div.html("<div class='clearfix res'>No results found</div>");
            } else {
              res_list_div.html("");
              for (i = 0; i < res.results_shown; i++) {
                var restaurant = res.restaurants[i].restaurant, establishment_type_name = '';
                if (!restaurant.id) {
                  continue;
                }
                if (restaurant['establishmentTypes'] && restaurant.establishmentTypes.length > 0) {
                  establishment_type_name = restaurant.establishmentTypes[0].establishment_type.name + ": ";
                }
                var thumbUrl = restaurant.thumb ? restaurant.thumb : (restaurant.featuredImage ? restaurant.featuredImage : (restaurant.photos.length ? restaurant.photos[0].photo.thumbUrl : 'https://b.zmtcdn.com/images/photoback.png'));
                var list_div = $("\
							<div class='clearfix res'>\
							<div class='left'>\
														<div class='left res_img'><img src='" + thumbUrl + "' /></div>\
														<div class='left res_info'><a target='_blank' href='http://zoma.to/r/" + restaurant.id + "?" + utm_params + "' class='res_name'>\
							<span>" + restaurant.name + "</span>\
							</a>\
							<div class='res_loc'>" + restaurant.location.locality + "</div>\
							<div class='res_type_wrap'>\
							<span class='res_type'>" + establishment_type_name + "</span>\
							<span class='res_cuisines'>" + restaurant['cuisines'] + "</span></div>\
							</div></div>\
							<div class='rating right' style='background-color:#" + restaurant.userRating.rating_color + "'>\
							" + restaurant.userRating.rating_display + "\
							</div>\
							<div class='clear'></div>\
							</div>\
							");
                res_list_div.append(list_div);
              }
              if (entity_id == 0) {
                entity_id = 82;
                entity_type = 'city';
              }
              if (res.results_shown < res.results_found) {
                var see_text = 'See more';
              } else {
                var see_text = 'See all';
              }
              res_list_div.append("\
						<div class='clear'>\
						<a target='_blank' href='" + HOST + "index.php?entity_type=" +
                  request_params.entity_type + "&entity_id=" + request_params.entity_id + "&" +
                  request_params.entity_type + "=" + request_params.entity_id + "&q=" + q.replace(/&/g, "&amp;").replace(/</g, "&lt;").replace(/>/g, "&gt;") + "&" + utm_params + "' class='see_all'>" + see_text + "\
						</a>\
						</div>\
					");
            }
            $('.res_info').width($('.res_info').parent().width()-$('.res_img').width());
            if (res['heading'] && res.heading != '') {
              $('.no_search_txt>span').html(res.heading);
            }
            if (res['search_title'] && res.search_title != '') {
              $('.popular_search').html(res.search_title + "<span class='sort-text'>" + res['sort_text']+ "</span>");
            }
            resize();
            $('a:not(.powered_by)').removeClass('theme-red-foreground, theme-dark-foreground').addClass('theme-red-foreground');
            $('button').removeClass('theme-red-background, theme-dark-background').addClass('theme-red-background');
          }
        });
      }
    }

    var selectCity = function() {
      request_params.city_id = $(this).data('search_city_id');
      request_params.entity_id = $(this).data('entity_id');
      request_params.entity_type = $(this).data('entity_type');
      $("#city_input").val($(this).html().replace(/(<([^>]+)>)/ig,"").trim());
      $("#city_name_text").html($(this).html().trim());
      request_params.city_name = $(this).html().trim();
      $("#search_input").val("");
      resSearch();
      closeDropDown();
    }
    var closeDropDown = function() {
      setTimeout(function() {
        $("#city_results").html("").hide();
      }, 200);
    }
    var citySearch = function() {
      if (event.keyCode == 38 || event.keyCode == 40 || event.keyCode == 9 || event.keyCode == 13 || event.keyCode == 27) {
        return;
      }
      var city_input = $("#city_input");
      var q = city_input.val();
      if (city_suggestion_xhr && city_suggestion_xhr.readystate != 4) {
        city_suggestion_xhr.abort();
      }
      city_suggestion_xhr = $.ajax({
        url: HOST + 'php/liveSuggest.php',
        dataType: 'json',
        data: {
          'type': 'locality',
          'q': q,
        },
        success: function(cities) {
          var city_list_div = $('#city_results');
          cities = $(cities);
          if (cities.length == 0) {
            city_list_div.html("<li>No results found</li>");
            return;
          }
          city_list_div.html("").hide();
          cities.slice(0,5).each(function(idx,el) {
            city_list_div.append(el);
            city_list_div.show();
          });

          $("#city_results [data-entity_id]").off('click').on('click', selectCity);
          $('#city_results [data-entity_id]').off('hover').on('hover', function() {
            $(this).addClass('selected');
          });
          $('#city_results [data-entity_id]').off('mouseout').on('mouseout', function() {
            $(this).removeClass('selected');
          });
        }
      });
    }
</script>