<%= form_for([@meal, @meal.orders.build]) do |f| %>
    <div class="input" style="overflow: visible;">
      <input type="text" placeholder="User(s)" name="user" style="z-index: 20;" />
      <div class="room-chat-helper hidden" data-source="<?php echo \controllers\routes\RoutesUsers::searchHelper(); ?>">
        <div></div>
      </div>
    </div>
    <p style="overflow: visible;">
      <%= f.label :name %><br>
      <%= f.text_field :name, :class => 'form-control' %>
        <div id="order-name-helper" class="search-helper hidden"
             data-source="<%= orders_list_names_path %>">
          <div></div>
        </div>
    </p>
    <p>
      <%= f.label :dish %><br>
      <%= f.text_field :dish, :class => 'form-control' %>
        <div id="order-dish-helper" class="search-helper hidden"
             data-source="<%= orders_list_dishes_path %>">
          <div></div>
        </div>
    </p>
    <p>
      <%= f.label :comment %><br>
      <%= f.text_area :comment, :class => 'form-control' %>
    </p>
    <p class="text-right">
      <%= f.submit :class => 'btn btn-primary' %>
    </p>
<% end %>

<script>
    $(document).ready(function() {
        var searchHelperName = new SearchHelper(
            $('.order-form input#order_name'),
            $('.order-form #order-name-helper'),
            $('.order-form input#order_dish'),
            {ajaxRequestMode: "default"}
        );

        var searchHelperDish = new SearchHelper(
            $('.order-form input#order_dish'),
            $('.order-form #order-dish-helper'),
            $('.order-form input#order_comment'),
            {ajaxRequestMode: "default"}
        );
    });
</script>