<% if !@order.nil? %>
  <div class="col-lg-4 col-md-6 col-xs-12">
    <div class="panel panel-info">
      <div class="panel-heading">
        <strong>Name:</strong> <%= @order.user.name %>
      </div>
      <div class="panel-body">
        <p>
          <strong>Dishes:</strong>
          <%= render partial: 'dishes/list',
                     locals: { parent: @order } %>
        </p>
        <p>
          <strong>Comments:</strong>
          <%= render partial: 'comments/list',
                     locals: { parent: @order } %>
        </p>
        <div class="pull-right">
          <%= link_to raw('<i class="glyphicon
                        glyphicon-pencil"></i>'),
                      edit_meal_order_path(@order.meal, @order),
                      class: 'btn btn-sm btn-warning' %>
          <%= link_to raw('<i class="fa fa-times"></i>'),
                      [@order.meal, @order],
                      method: :delete,
                      data: { confirm: 'Are you sure?' },
                      class: 'btn btn-sm btn-danger' %>
        </div>
      </div>
      <div class="panel-footer">
        <%= @order.description %>
      </div>
    </div>
  </div>
<% end %>