<%= form_for @meal do |f| %>
    <%= render partial: 'shared/error_messages',
               locals: { record: @meal } %>

    <p>
      <%= f.label :name %><br>
      <%= f.text_field :name, :class => 'form-control' %>
    </p>

    <p>
      <%= f.label :location %><br>
      <%= f.text_field :location, class: 'form-control', id: 'location' %>

      <button type="button" class="btn btn-primary"
              data-toggle="modal" data-target="#locationModal">
        Pick location
      </button>
    </p>

    <p>
      <%= f.label :date %><br>
      <%= f.text_field :date, class: 'form-control',
                       id: 'datetimepicker' %>
      <script type="text/javascript">
        $(function () {
          $('#datetimepicker').datetimepicker();
        });
      </script>
    </p>

    <%= f.label :is_visible do %>
        <%= f.check_box :is_visible %>
        <span>Is visible in search</span>
    <% end %>

    <%= f.label :is_private do %>
        <%= f.check_box :is_private %>
        <span>Is private (invite only)</span>
    <% end %>

    <p class="margin-top">
      <div class="btn-group btn-group-justified">
        <%= link_to raw('<i class="glyphicon glyphicon-chevron-left"></i> Back'),
                    meals_path, :class => 'btn btn-lg btn-default' %>
        <div class="btn-group">
          <%= f.submit :class => 'text-right btn btn-lg btn-primary' %>
        </div>
      </div>
    </p>
<% end %>

<div class="modal fade" id="locationModal" tabindex="-1"
     role="dialog" aria-labelledby="locationModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="locationModalLabel">Select a location</h4>
      </div>
      <div class="modal-body">

        <p>
          Location:
          <input type="text" id="mapComponent-address"/>
        </p>
        <div id="mapComponent"></div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Cancel
        </button>
        <button type="button" class="btn btn-primary" data-dismiss="modal"
                id="locationModal-save">
          Select
        </button>
      </div>
    </div>
  </div>
</div>

<script>
  var locationpickerOpts = {
    radius: 200,
    enableAutocomplete: true,
    inputBinding: {
      locationNameInput: $('#mapComponent-address')
    }
  };

  if(!!navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
      locationpickerOpts.location = {
        latitude: position.coords.latitude,
        longitude: position.coords.longitude
      };
    });
  } else {
    alert('No Geolocation Support.');
  }

  $('#mapComponent').locationpicker(locationpickerOpts);

  $('#locationModal').on('shown.bs.modal', function () {
    $('#mapComponent').locationpicker('autosize');
  });

  $('#locationModal-save').on('click', function () {
    $pickerInput = $('#mapComponent-address');
    if (isDomElemJQuery($pickerInput) && isset($pickerInput.val()))
      $('#location').val($pickerInput.val());
  });
</script>