<%= form_tag meal_invite_path(@meal) do %>
    <p>
      <%= label_tag :email %><br>
      (Email invites and guest users not implemented)
      <!--<%= text_field_tag 'Email', params[:email],
                         class: 'form-control' %>-->
    </p>

    <p>
      <%= label_tag :user_name %><br>
      <%= text_field_tag :user_name, params[:username],
                         class: 'form-control',
                         id: 'username-auto',
                         autocomplete: 'off' %>
      <script type="text/javascript">
        $(function () {
          $('#username-auto').typeahead({
            minLength: 0, showHintOnFocus: true,
            source: function(query, process) {
              $.get("<%= users_path %>",
                  {search: query},
                  function(data) {process(data["users"])},
                  "json")
            }
          });
        });
      </script>
    </p>

    <p>
      <%= submit_tag 'Invite', name: nil, class: 'btn btn-primary' %>
    </p>
<% end %>