<% if policy(Meal).new? %>
  <div class="btn-group btn-group-justified">
    <%= link_to raw('<i class="glyphicon glyphicon-plus"></i> New'),
                new_meal_path, :class => 'btn btn-lg btn-default' %>
  </div>
<% end %>

<div class="well text-center margin-top">
  <% if @meals.size <= 0 %>
    List is still empty
  <% end %>
  <table class="meal-list-item">
    <% @meals.each do |meal| %>
      <tr>
        <td>
          <h3><%= link_to meal.name, meal_path(meal)%></h3>
        </td>
        <td class="text-center">
          <span class="glyphicon glyphicon-calendar"></span>
        </td>
        <td class="text-center">
          <span class="glyphicon glyphicon-user"></span>
        </td>
      </tr>
      <tr>
        <td>
          <span class="glyphicon glyphicon-map-marker"></span>
          <%= meal.location %>
        </td>
        <td>
          <%= meal.date %>
        </td>
        <td>
          <% if current_user &&
              meal.invited_users.find(current_user) %>
            <strong>(Invited)</strong>
          <% end %>
          <%= meal.orders.count %>
        </td>
      </tr>
    <% end %>
  </table>
</div>