<%= form_for @dish do |f| %>
    <%= render partial: 'shared/error_messages',
               locals: { record: @dish } %>

    <p>
      <%= f.label :name %><br>
      <%= f.text_field :name, :class => 'form-control' %>
    </p>

    <p>
      <%= f.label :info %><br>
      <%= f.text_field :info, :class => 'form-control' %>
    </p>

    <p class="margin-top">
      <div class="btn-group btn-group-justified">
        <%= link_to raw('<i class="glyphicon glyphicon-chevron-left"></i> Back'),
                    dishes_path, :class => 'btn btn-default' %>
        <div class="btn-group">
          <%= f.submit :class => 'text-right btn btn-primary' %>
        </div>
      </div>
    </p>
<% end %>