<div class="btn-group btn-group-justified">
  <%= link_to raw('<i class="glyphicon glyphicon-plus"></i> New'),
              new_dish_path, class: 'btn btn-lg btn-default' %>
</div>

<%= form_tag dishes_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search],
                       class: 'form-control' %>
    <%= submit_tag 'Search', name: nil %>
  </p>
<% end %>

<div class="well text-center margin-top">
  <% if @dishes.size <= 0 && !params[:search].empty? %>
    Nothing found matching the search query
  <% elsif @dishes.size <= 0 %>
    List is still empty
  <% else %>
    <ul class="list-group">
      <% @dishes.each do |dish| %>
        <li class="list-group-item clearfix">
          <%= render dish %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>